<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10000" id="com.pushsoft.filedemo" ios-CFBundleVersion="10000" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FileDemo</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="20000" />
    <preference name="FadeSplashScreen" value="false" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="mqqwpa://*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <hook src="scripts/after_platform_add/copy_release_properties.js" type="after_platform_add" />
        <hook src="scripts/after_prepare/cordova-minify-v2.js" type="after_prepare" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="9.0" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="NativeXHRLogging" value="full" />
        <preference name="HideKeyboardFormAccessoryBar" value="true" />
        <preference name="KeyboardShrinksView" value="true" />
        <preference name="DisableScrollingWhenKeyboardShrinksView" value="true" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="StatusBarStyle" value="blacktranslucent" />
        <custom-config-file mode="replace" parent="UISupportedInterfaceOrientations" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </custom-config-file>
        <custom-config-file mode="replace" parent="UISupportedInterfaceOrientations~ipad" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </custom-config-file>
        <custom-config-file mode="replace" parent="NSAppTransportSecurity" target="*-Info.plist">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
            </dict>
        </custom-config-file>
        <custom-config-file mode="replace" parent="CFBundleAllowMixedLocalizations" target="*-Info.plist">
            <true />
        </custom-config-file>
        <custom-config-file mode="replace" parent="CFBundleDevelopmentRegion" target="*-Info.plist">
            <string>zh_CN</string>
        </custom-config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>需要访问地理位置</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>需要访问地理位置</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>需要访问通讯录</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>拍照上传需要访问相机</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>选择图片上传需要访问相册</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>需要存储图片到相册</string>
        </edit-config>
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
