/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$enable-big: dynamic(false);

/* iPhoneX 刘海下巴屏*/
.actionmode .topinset 
{ 
	padding-top: 0 !important; 
}
.bottominset {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

@if $modern-theme-material {
    .x-tabbar .x-active-indicator-el {
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
    }
}


/*图片*/
.imgBlock, .imgCt {
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
}
//table-cell 内图片居中
.imgCt {
    display: table-cell;
    vertical-align: middle;
}
//before伪元素内图片居中
.imgBlock {
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
    font-size: 0;
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

.img-tip {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -0.5rem;
    line-height: 1rem;
    font-size: 0.75rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.fullwidth {
    width: 100%;
}

/*颜色*/
$soft-blue: dynamic(#1DB9F2);
$soft-red: dynamic(#F56D5E);
.bg-soft-blue{
    background-color: $soft-blue !important;
}
.bg-soft-red{
    background-color: $soft-red !important;
}